<!DOCTYPE html>
<html>
<head>
<title>welcome</title>
<#include "/include/header.html"/>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body>
	<#include "/include/nav.html"/>
	<div class="container">
		<#list diaryList as diary>
		<div class="row">
			<div
				class="well col-sm-8 <#if diary_index%2==1> col-sm-offset-4 text-right</#if>">
				<h4>${diary.title}</h4>
				<h5>
					Post by ${diary.u_id}, <span class="glyphicon glyphicon-time"></span>
					${diary.regdate?substring(0,19)}
				</h5>
				<h5>
					<span class="label label-primary">맑음</span> <span
						class="label label-success">휴식</span>
				</h5>
				<br />
				<p>${diary.content}</p>
			</div>
		</div>
		</#list>
	</div>
	<!-- script library -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
	<#include "/include/footer.html"/>
</body>
</html>